from AppAscenzi.index.html import all 

</head>

<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" href="#">Pagina de inicio </a>
          <a class="nav-link active" href="#">Ventas minoristas</a>
          <a class="nav-link" href="#">Ventas mayoristas</a>
          <a class="nav-link" href="#">Pedidos</a>
          <a class="nav-link" href="#"><form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form></a>
        </nav>
      </div>
    </header>

