{% extends "AppAscenzi/base.html" %}
{% load static %}

{% block principal %}

<main role="main" class="inner cover">
  <center><img src="{% static 'AppAscenzi/assets/imagenes/toystory.jpeg' %}" alt="centered image" height="450" width="670"> </center>
  <br>
  <center><h1 class="cover-heading">Formulario de busquedas</h1></center>
  
  {% for pedido in pedidos %}
    <li> ● Nombre del comprador: {{pedido.nombre_comprador}} ● Persona que retira: {{pedido.quien_retira}}  ● Medio de pago: {{pedido.medio_de_pago}} ● Precio final: {{pedido.precio}}</li>
  {% endfor %}
  
  {% for minorista in minoristas %}

<li>● Nombre del comprador: {{minorista.nombre}} ● Domicilio: {{minorista.direccion}} ● Correo electronico: {{minorista.email}}</li>
  
  {% endfor %}

  
  {% for mayorista in mayoristas %}
    <li>● Nombre: {{mayorista.nombre}} ● CUIL: {{mayorista.cuil}} ● DNI: {{mayorista.dni}}</li> 
  {% endfor %}

</main>
  
  
  {% endblock %}