{% extends "AppAscenzi/base.html" %}
{% load static %}

{% block principal %}

<main role="main" class="inner cover">
  <center><img src="{% static 'AppAscenzi/assets/imagenes/bichos.jpeg' %}" alt="centered image" height="450" width="670"> </center>
  <br>
  <center><h1 class="cover-heading">Formulario para los clientes minoristas </h1></center>
  <form action="{% url 'minorista_formulario_reseteado' %}" method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Enviar">
  </form>
  <ul>
    {% for minorista in minoristas %}

    <li> {{minorista.id}} - {{minorista.nombre}} - {{minorista.dni}} - {{minorista.direccion}}</li>

    {% endfor %}
  </ul>



{% endblock %}