{% extends "AppAscenzi/base.html" %}
{% load static %}

{% block principal %}

<main role="main" class="inner cover">
  <center><img src="{% static 'AppAscenzi/assets/imagenes/mstrinc.jpeg' %}" alt="centered image" height="450" width="670"> </center>
  <p></p>
<main class="text-center">
    <form action="/Venta_mayorista/"  method="post">{% csrf_token %}
        <br>
    <p> Nombre de la empresa:<br>
        <input type = "text" name="nombre">
    <p> CUIL:<br>
        <input type = "text" name="cuil">
    <p> Telefono:<br>
        <input type = "text" name="telefono"> 
    <p> Email:<br>
        <input type = "text" name="email"> 
    <p> Direccion:<br>
        <input type = "text" name="direccion"> 
    <p> Codigo postal:<br>
        <input type = "text" name="codigo_postal"><br>
        <br>
    <input type = "submit" value="Enviar"><br>
    </form>
</main>
{% endblock %}